header {
  background: url(../assets/home-1.jpeg);
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h1 {
    @include fontSize(46);
    letter-spacing: 1.1px;
  }

  a, i {
    @include fontSize(20);
    color: $primary-black;
    text-transform: uppercase;
  }

  a, .fa-search {
    padding: 6px 10px;
    display: inline-block;
  }

  .top-bar {
    @include flexCenter();
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .top-nav {
    display: flex;
  }
  
}