main {

  .outer-wrapper {
    position: relative;
    max-width: 2000px;
    margin: 0 auto;
  }

  .reci-container {
    display: flex;
    flex-wrap: wrap;

    .item2 {
      order: -1;
    }

    .main__reci-row-container {
      display: flex;
    }

    .reci-container__item {
      flex: 1 1 500px;
      height: 400px;
    }

    .reci-container__item__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: bottom center;
      margin: 0 auto;
      // position: absolute;
      // top: 0;
      // right: 0;
    }

    .reci-container__item:nth-of-type(2n) {
      display: flex;
      padding: 10px 30px;
    }

    .reci-container__item.item2 {
      @include flexCenter();
      flex-direction: column;
    }

    .reci-container__item.item4 {
      background: $secondary-bg;
    }

    .reci-container__item__menu {
      @include flexCenter();
      flex-wrap: wrap;

      .menu-item {
        flex: 1 1 50%;
      }
    }

  }

  .restaurants {
    min-height: 600px;
    display: flex;

    .rest__container {
      @include flexCenter();
      flex-direction: column;
    }

    .rest__container__two-images {
      position: relative;
      max-width: 800px;
      margin-top: 100px;
    }
    
    .rest__container__image-container:nth-of-type(2) {
      position: absolute;
      max-width: 180px;
      top: 0;
      right: 0;
      transform: translate(40%,-55%);
    }

    .rest__container__image {
      height: 100%;
      width: 100%;
    }
  }

  .gallery {
    @include flexCenter();
    // height: 100vh;
    // min-height: 800px;
    flex-wrap: wrap;
    align-content: center;
    
    .gall__image-container {
      flex: 1 1 300px;
    }

    .gall__image {
      display: block;
      width: 100%;
      height: 100%;
    }

  }


}