.contact-body {

  .main {
    background: linear-gradient(90deg, $primary-white 0%, $primary-white 70%, darken($primary-white, 8%) 70%, darken($primary-white, 8%) 70%);
    
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &__form, &__contact {padding: 40px 30px;}

      &__form {
        padding-left: 0;
        // padding-right: 0;
        flex: 1 1 65%;

        &__name-email {
          display: flex;

          input{
            flex: 1 1 200px;
          }
        }

        input[name='subject'] {
          width: 100%;
        }

        input, textarea {
          margin: 10px 0;
        }

      }

      &__contact {
        background: darken($primary-white, 8%);
        padding-right: 0;
        flex: 1 0 200px;
        max-width: 310px;
        // margin-left: 30px;
      }
    }

    .image {
      background: url(../assets/contact-2.jpeg);
      background-repeat: no-repeat;
      background-position: right top;
      background-size: cover;
      height: 35vh;
      min-height: 300px;
    }
  }
}