.contact-body {
  .main {
    background: linear-gradient(90deg, $primary-white 0%, $primary-white 70%, darken($primary-white, 3%) 70%, darken($primary-white, 3%) 70%);
    
    h1,h2{@include fontSize(22);}

    .container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      &__form, &__contact {padding: 40px 30px;}

      &__form {
        flex: 1 1 65%;
        padding-left: 0;

        &__field {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
        }

        input, textarea {
          border: 1px solid transparent;
          background: darken($primary-white, 10%);

          &:focus {border: 1px solid $primary-accent;}
        }

        input[name="subject"] {
          grid-row: 2;
          grid-column: span 2;
        }

        textarea {
          grid-row: 3;
          grid-column: span 2;
        }
      }

      &__contact {
        flex: 1 0 214px;
        padding-right: 0;
        background: darken($primary-white, 3%);

        .days {@include fontSans(13, 400);}
        .note {@include fontSize(11);font-style: italic;}
        .address {display: block;}

        &__card {margin-bottom: 35px;}
        &__card.card2 p {margin: 0;}
        &__card.card3 p {margin-bottom: 23px;}
      }
    }

    .image {
      height: 35vh;
      max-height: 600px;
      min-height: 300px;

      background: url(../assets/contact-2.jpeg);
      background-repeat: no-repeat;
      background-position: right top;
      background-size: cover;
    }
  }
}