.contact-body {

  .main {
    background: linear-gradient(90deg, $primary-white 0%, $primary-white 70%, darken($primary-white, 8%) 70%, darken($primary-white, 8%) 70%);
    
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &__form, &__contact {padding: 40px 30px;}

      &__form {
        padding-left: 0;
        // padding-right: 0;
        flex: 1 1 65%;

        fieldset {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 10px;
        }

        input[name="name"],
        input[name="email"] {

        }

        input[name="subject"] {
          grid-row: 2;
          grid-column: span 2;
        }

        textarea {
          grid-row: 3;
          grid-column: span 2;
        }
      }

      &__contact {
        background: darken($primary-white, 8%);
        padding-right: 0;
        flex: 1 0 200px;
      }
    }

    .image {
      background: url(../assets/contact-2.jpeg);
      background-repeat: no-repeat;
      background-position: right top;
      background-size: cover;
      height: 35vh;
      min-height: 300px;
    }
  }
}