.footer {
  background: $primary-black;
  
  h2, h3, a {
    color: $primary-accent;
    margin-top: 0;
  }

  h3, i {color: $primary-white;}
  p {color: lighten($primary-black, 55%);}

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;

    &__contact, &__articles, &__socials {
      flex: 1 1 30%;
      min-width: 280px;
      margin-bottom: 50px;

      h3 {margin-bottom: 30px;}
    }

    &__contact, &__articles {
      p, a {
        padding-bottom: 8px;
        margin: 5px 0;
        line-height: 24px;
      }

      li:nth-of-type(2) > .exclude {margin: 0;padding: 0;}

      p:not(.exclude), a:not(.exclude) {border-bottom: 2px solid lighten( $primary-black, 10%);}
    }

    &__articles {
      margin-left: 3%;
      margin-right: 3%;

      a {
        @include fontSerif(14);

        display: block;
        color: lighten($primary-black, 55%);
        text-transform: none;
        
        &:hover{color: $primary-accent;}
      }
    }

    &__socials {
      ::placeholder {
        @include fontSerif(12, 400, lighten($primary-black, 70%));
        font-style: italic;
      }

      form {
        display: flex;
        padding-bottom: 24px;
        border-bottom: 2px solid lighten( $primary-black, 10%);
        font-size: 0; //font sz remove the white space between form elements
      } 
      input, button {
        height: 40px;
        padding: 12px 17px;
        vertical-align: middle;
      }

      input {
        @include fontSize(12);
        
        width: 85%;
        border: 1px solid transparent;
        
        background: lighten($secondary-black, 10%);
        color: $primary-white;
        
        &:focus {border: 1px solid $primary-white;}
      }

      button {
        @include flexCenter();
        @include fontSize(20);

        flex: 1 0 auto;
        border: 1px solid $primary-accent;
        background: $primary-accent;

        &:hover i, &:focus i {color: $secondary-black;}
        &:focus {@include focusState();}
      }

      &__nav {
        display: flex;
        margin-top: 5px;

        li {margin: 5px;}
        li:first-of-type {margin-left: 0;}
        a {padding: 3px 8px;}
      }
    }
  }

  &__copyright {
    @include flexCenter();
    height: 40px;
    background: darken($primary-black, 5%);

    p, a {
      @include fontSans(14, 400, auto);
      margin: 0;
    }
  }  
}