::selection { color: turquoise; }

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  @include fontSans(18);
  letter-spacing: 0.5px;

    font-family: 'Raleway', sans-serif;
  
  text-transform: uppercase;
  text-decoration: none;

}

.wrapper,
.header__wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.header__wrapper {
  width: 95%;
}

.outer-wrapper {
  position: relative;
  max-width: 2000px;
  margin: 0 auto;
}

h1 {
  @include fontSans(46);
  letter-spacing: 1.1px;
  line-height: 24px;
}

h2 {
  @include fontSans(24);
  letter-spacing: 0.5px;
  line-height: 36px;
  text-transform: uppercase;
  position: relative;
}

h3 {
  @include fontSans(18);
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
}

p {
  @include fontSerif(14, 400, lighten($primary-black, 30%));
  line-height: 24px;
  letter-spacing: 0.3px;
}

.button {
  @include fontSize(14);
  color: $primary-white;
  background: $primary-accent;
  padding: 16px 30px;
  margin-top: 15px;
}

button:hover {
  cursor: pointer;
}
