.header {
  background: url(../assets/home-1.jpeg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 70vh;
  min-height: 400px;
  max-height: 1200px;

  a, i {
    @include fontSize(16);
    text-transform: uppercase;
  }

  a, .fa-search {
    padding: 6px 10px;
    display: inline-block;
  }

  .header__top-bar {
    @include flexCenter();
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .header__top-bar__nav {
    display: flex;
  }

  a[href='#cart'] {
    position: relative;

    span {
      @include fontSans(11, 400, $primary-white);
      display: inline-block;
      position: absolute;
      bottom: -3px;
      right: 0;
      padding-top: 1px;

      background-color: $primary-accent;
      width: 18px;
      height: 18px;
      text-align: center;
      border-radius: 50%;
    }
  }
}

.blog-body {
  .header {
    background: url(../assets/blog-1.jpeg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 35vh;
    min-height: 400px;
    max-height: 800px;
  }
}