.header {
  background: url(../assets/home-1.jpeg);
  height: 70vh;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  a, i {
    @include fontSize(16);
    text-transform: uppercase;
  }

  a, .fa-search {
    padding: 6px 10px;
    display: inline-block;
  }

  .header__top-bar {
    @include flexCenter();
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .header__top-bar__nav {
    display: flex;
  }
  
}