.header {
  height: 70vh;
  min-height: 400px;
  max-height: 1200px;

  background: url(../assets/home-1.jpeg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;


  // hamburger starts
  nav label {
    position: fixed;
    top: -200%;
    right: 20px;
    transition: 0.5s;
  }

  nav input{ display: none; }
  // hamburger ends

  a, i {
    @include fontSize(16);
    color: $primary-black;
    text-transform: uppercase;
  }

  a:hover, a:focus {color: $primary-accent;}
  
  a {
    display: inline-block;
    padding: 6px 10px;
    position: relative;
    z-index: 0;

    &::after{
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;

      width: 0%;
      height: 1px;

      background: $secondary-accent;
      transition: all .3s ease-in;
      transform: translate(-50%,-50%);
      opacity: 30%;
    }

    &:hover::after {
      width: 100%;
      height: 6px;
    }
  }

  .header__top-bar {
    @include flexCenter();
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .header__top-bar__nav {display: flex;}

  a[href='#cart'] {
    position: relative;

    span {
      @include fontSans(11, 400, $primary-white);

      display: inline-block;
      position: absolute;
      bottom: -3px;
      right: 0;

      padding-top: 1px;
      width: 18px;
      height: 18px;
      border-radius: 50%;

      background-color: $primary-accent;
      text-align: center;
    }
  }
}

.blog-body, 
.contact-body {
  .header {
    height: 35vh;
    min-height: 400px;
    max-height: 800px;

    background: url(../assets/blog-1.jpeg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}

.contact-body {
  .header {
    background: url(../assets/contact-1.jpeg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
  }
}