.main {

  .reci-container {
    display: flex;
    flex-wrap: wrap;

    .item2 {
      order: -1;
    }

    &__item {
      flex: 1 1 500px;
      height: 400px;
    }

    &__item__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: bottom center;
      margin: 0 auto;
      // position: absolute;
      // top: 0;
      // right: 0;
    }

    &__item:nth-of-type(2n) {
      display: flex;
      padding: 10px 30px;
    }

    &__item.item2 {
      @include flexCenter();
      flex-direction: column;
    }

    &__item.item4 {
      background: $secondary-bg;
    }

    &__item__menu {
      @include flexCenter();
      flex-wrap: wrap;

      .menu-item {
        flex: 1 1 50%;
      }
    }

  }

  .restaurants {
    min-height: 600px;
    display: flex;

    &__container {
      @include flexCenter();
      flex-direction: column;
    }

    &__container__two-images {
      position: relative;
      max-width: 800px;
      margin-top: 100px;
    }
    
    &__container__image-container:nth-of-type(2) {
      position: absolute;
      max-width: 180px;
      top: 0;
      right: 0;
      transform: translate(40%,-55%);
    }

    &__container__image {
      height: 100%;
      width: 100%;
    }

    &__container__body {

    }
  }


  .gallery {
    @include flexCenter();
    // height: 100vh;
    // min-height: 800px;
    flex-wrap: wrap;
    align-content: center;
    
    &__image-container {
      flex: 1 1 33.33%;
      min-width: 300px;
    }

    &__image {
      display: block;
      width: 100%;
      height: 100%;
    }

  }


  .testimonials {
    display: flex;
    padding: 40px 0;
    background: $accent-bg;
    height: 60vh;
    min-height: 500px;

    .wrapper {
      display: flex;
    }

    &__container {
      @include flexCenter();
      flex-direction: column;
      margin: auto 0;
    }

    &__container__arrow {
      background: none;
      border: 0;
      padding: 0;
    }
  }

}