
@media (max-width: 1060px) {
  .header {a, i {@include fontSize(14);}}
}

@media (max-width: 925px) {
  // show hamburger
  .header {
    nav {
      /* hamburger starts */
      ul { 
        position: absolute;
        left: 0;
        top: -200%;
        right: 0;
        
        flex-direction: column;
        height: 0;
        width: 100%;
        
        overflow: hidden;
        transition: 0.3s linear;
      }

      label { top: 20px; z-index: 3;} 

      .hamburger {
        position: relative;
        width: calc(14vw + 1px);
      }

      .hamburger-lines {
        width: 100%;
        height: 5px;
        border: 1px solid black;
        border-radius: 4px;
        margin: 12px 0;
        
        background: #fff;
        filter: drop-shadow(1px 1px 0px black);
        
        transition: 0.2s ease;
      }

      .hamburger:active .hamburger-lines { transform: translateY(-10px); }

      /* hamburger animation starts */
      input[name="toggle"]:checked + label > .hamburger > .line1 {
        transform: rotate(45deg) translate(30px, 20px);
      }

      input[name="toggle"]:checked + label > .hamburger > .line2 {
        border: transparent;
        transform: rotate(360deg) translate(10px, 30px);
        opacity: 0;
      }

      input[name="toggle"]:checked + label > .hamburger > .line3 {
        transform: rotate(-45deg) translate(5px, 5px);
      }
      /* hamburger animation ends */

      input[name="toggle"]:checked ~ ul:first-of-type {
        position: fixed;
        z-index: 1;
        top: 0;
        
        height: auto;
        width: 100%;

        background: $accent-bg;
      }

      .header__top-bar__nav li {
        display: inline-block;
        padding: 6px 0;
        border-bottom: 2px solid lighten( $primary-black, 80%);
        text-align: center;
      }

      .header__top-bar__nav li:last-of-type { border-bottom: none; }

      .header__top-bar__nav a {
        @include fontSize(20);
        padding: 20px 20%;
      }

      .header__top-bar__nav i {
        @include fontSize(40);
      }

      .hamburger:hover, .hamburger:focus { cursor: pointer; }
      /* hamburger ends */
      
    }
    
    .header__top-bar__nav a[href="#search"],
    .header__top-bar__nav a[href="#cart"]{
      padding: 10px 20%;
    }

    // fix notification icon in nav
    a[href="#cart"] span {
      @include fontSize(13);
      bottom: 5px;
      right: 43%;
      width: 20px;
      height: 20px;
    }
  }

  .home-body {
    // style the blockquotes to prevent side scroll
    .main {
      .testimonials__container__body {
        @include fontSize(18);
        padding: 0 20px;

        &::before, &::after {
          @include fontSize(26);
          opacity: 60%;
        }

        &::before {right: calc(100% - 30px);}
  
        &::after {left: calc(100% - 30px);bottom: 20px;}
      }
    }
  }
}


@media (max-width: 914px) {
  // change order when stacked
  .home-body .main .reci-container__card .item2 {order: 1;}
}


@media (max-width: 824px) {
  .contact-body {
    .main {
      .container {
        &__form {
          padding-right: 0px;

          &__field {
            grid-gap: 10px;
          }
        }
      }
    }
  }
}


@media (max-width: 624px) {
  .header {h1 {@include fontSize(30);}}

  .home-body {
    // take off margins when vertically stacked
    .main {
      .reci-container__card__item__menu li:nth-of-type(2n + 1) p {margin-right: 0;}

      .restaurants__container__two-images {
        margin-top: 30px;
        margin-right: 40px;
      }

      .restaurants__container__image-container:nth-of-type(2) {max-width: 130px;}
    }
  }


  .contact-body {
    // style form on smaller screens
    .main {
      .container {
        &__form {
          &__field {
            grid-template-columns: 1fr;
            grid-gap: 10px;
          }

          input[name="subject"], textarea {
            grid-row: auto;
            grid-column: span 1;
          }
        }
      }
    }

  }

  .footer__container__articles {margin-left: 0;margin-right: 0;}
  .footer__copyright p, .footer__copyright a {@include fontSize(10);}
}

@media (max-width:541px) {
  // change quote boxes arrows to point up
  .blog-body .comments__card__body .arrow {
    top: -18px;
    left: 10px;
    border-bottom-color: lighten($primary-black, 72%);  
    border-right-color: transparent;
  }
}